################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MultithreadingPractice/CopilotIndices/17.14.1561.44479
